POSTGRES_PASSWORD=la_libertad_app
NODE_OPTIONS=--enable-source-maps
BUCKET_NAME=lla.api
FIREBASE_WEB_API_KEY=
CACHE_TTL=max-age=0
LBERTAPP_ENV=prod

# DATABASE
DB_LOCAL_ENDPOINT=postgresql://postgres:la_libertad_app@localhost:5432/la_libertad_app
DB_WRITE_ENDPOINT=test
DB_READ_ENDPOINT=test

# DATABASE CONFIG FOR TYPEORM
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=la_libertad_app
DATABASE_DB=la_libertad_app
DATABASE_LOGGING=false
DATABASE_SYNC=false
DATABASE_TYPE="postgres"

# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"

FIREBASE_PUBLIC_KEYS_URL=https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_SECRET_NAME=firebaseServiceAccount

FRONT_END_URL=http://localhost:3001
