### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.vscode/

# Golang project vendor packages which should be ignored
/vendor/

CHANGELOG-REVIEW.md

/bin/
/dist/
/build/
/release/

/logs/
*/logs/
*/*/logs/

/hot/

acme.json

*.db
.VSCodeCounter

docker/Dockerfile.dev
docker/Dockerfile.gobuild

/cache/

*.bak
tools/.tools
DEVNOTES.md


.env
go.sum

todo.txt